* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    font-family: Arial;
}

body.activeMenu {
    overflow: auto;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slide .background {
    background-size: cover !important;
    width: 100%;
    height: 100%;
    background: no-repeat fixed center center;
}

.page-content {
    opacity: 0;
    position: relative;
    top: 150px;
    left: 0;
}

.start-content {
    opacity: 1;
    top: 0;
}

.slide .destination {
    position: absolute;
    bottom: 91px;
    left: 16px;
}

.slide .destination .country {
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 5px;
}

.slide .destination .title {
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
}

.slide .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide .content .info {
    bottom: 47px;
    position: relative;
    flex: 1;
    min-width: 130px;
    left: 15px;
}

.slide .content .info img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.slide .content .info p {
    color: white;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    bottom: 7px;
    left: 5px;
}

.slide .content .horizLine {
    position: relative;
    bottom: 32px;
    width: 80%;
    height: 1px;
    background-color: white;
    flex: 99;
}

.slide .content .numberss {
    bottom: 47px;
    position: relative;
    flex: 1;
    min-width: 80px;
    text-align: center;
}

.slide .content .numberss .actiSlid {
    text-align: right;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
}

.slide .content .numberss .verticalLine {
    background-color: white;
    height: 15px;
    width: 1px;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    margin: 0 5px;
}

.slide .content .numberss .totalSlide {
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
}

.txShow {
    background: no-repeat fixed center center;
    position: absolute;
    font-size: 200px;
    width: 100%;
    text-align: center;
    height: 200px;
    color: white;
    font-weight: bold;
    top: 50%;
    opacity: 0;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

#bttn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 9;

}

#bttn:hover {
    transform: scale(1.1);

}

#menu {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 8;
}

#menu .menuSlide {
    position: relative;
    flex: 0 0 100%;
    height: 200px;
    z-index: 20;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

#menu .menuBackground {
    width: 100%;
    height: 200px;
    background: no-repeat center;
    background-size: cover;
}
#menu .menuBackground::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    transition: opacity .5s ease;
}

#menu .numberShow {
    width: 35px;
    text-align: right;

    position: absolute;
    bottom: 20px;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#menu .horLin {
    width: 35px;
    height: 1px;
    background-color: #a6a6a6;
    position: absolute;
    left: 0px;
    bottom: 45px;
}

#menu .menuTitle {
    position: absolute;
    bottom: 23px;
    left: 40px;
    font-size: 12px;
    font-style: italic;
    color: white;
    opacity: 0;
}

#menu .menuSlide:hover .menuBackground::before, #menu .menuSlide.active .menuBackground::before {
    opacity: 0;
}

#menu .menuSlide.active .menuBackground {
    border: 2px solid white;
}

#menu .menuSlide:hover .horLin, #menu .menuSlide.active .horLin {
    left: 35px;
    width: 100px;
    background-color: white;
}

#menu .menuSlide:hover .menuTitle, #menu .menuSlide.active .menuTitle {
    opacity: 1;
}

.preloader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1000;
}

.loaderNumbers {
    font-size: 200px;
    color: #00a1de;
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.loaderText {
    color: black;
    text-align: center;
    letter-spacing: 5px;
    font-size: 14px;
    position: relative;
    top: 50%;
}

video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

@media only screen and (min-width: 720px) {
    #menu .menuSlide {
        flex: 0 0 50%;
    }

    .loaderNumbers {
        font-size: 300px;
    }

    .loaderText {
        font-size: 18px;
    }

    video {
        display: block;
    }

    #bttn {
        transition: all 0.5s;
    }

    #menu .menuBackground {
        transition: all 0.8s;
        height: 0px;
    }

    #menu .horLin {
        transition: all 0.5s;
    }

    #menu .menuTitle {
        transition: all 0.5s;
    }
    body.activeMenu #menu .menuBackground {
        height: 200px;
    }
    body #menu .menuSlide:nth-child(1) .menuBackground {
        transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(2) .menuBackground {
        transition: all .6s .02s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(3) .menuBackground {
        transition: all .6s .04s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(4) .menuBackground {
        transition: all .6s .06s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(5) .menuBackground {
        transition: all .6s .08s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(6) .menuBackground {
        transition: all .6s .1s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(7) .menuBackground {
        transition: all .6s .12s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(8) .menuBackground {
        transition: all .6s .14s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(9) .menuBackground {
        transition: all .6s .16s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(10) .menuBackground {
        transition: all .6s .18s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(11) .menuBackground {
        transition: all .6s .2s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(12) .menuBackground {
        transition: all .6s .22s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(13) .menuBackground {
        transition: all .6s .24s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(14) .menuBackground {
        transition: all .6s .26s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(15) .menuBackground {
        transition: all .6s .28s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(16) .menuBackground {
        transition: all .6s .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(17) .menuBackground {
        transition: all .6s .32s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(18) .menuBackground {
        transition: all .6s .34s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(19) .menuBackground {
        transition: all .6s .36s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(20) .menuBackground {
        transition: all .6s .38s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(21) .menuBackground {
        transition: all .6s .4s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(22) .menuBackground {
        transition: all .6s .42s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(23) .menuBackground {
        transition: all .6s .44s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(24) .menuBackground {
        transition: all .6s .46s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(25) .menuBackground {
        transition: all .6s .48s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(26) .menuBackground {
        transition: all .6s .5s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(27) .menuBackground {
        transition: all .6s .52s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(28) .menuBackground {
        transition: all .6s .54s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(29) .menuBackground {
        transition: all .6s .56s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(30) .menuBackground {
        transition: all .6s .58s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(31) .menuBackground {
        transition: all .6s .6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(32) .menuBackground {
        transition: all .6s .62s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(33) .menuBackground {
        transition: all .6s .64s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(34) .menuBackground {
        transition: all .6s .66s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(35) .menuBackground {
        transition: all .6s .68s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(36) .menuBackground {
        transition: all .6s .7s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(37) .menuBackground {
        transition: all .6s .72s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(38) .menuBackground {
        transition: all .6s .74s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(39) .menuBackground {
        transition: all .6s .76s cubic-bezier(0.23, 1, 0.32, 1);
    }
    body #menu .menuSlide:nth-child(40) .menuBackground {
        transition: all .6s .78s cubic-bezier(0.23, 1, 0.32, 1);
    }
}

@media screen and (min-width: 1140px) {
    #menu .menuSlide {
        flex: 0 0 33.3333%;
    }
}

@media screen and (min-width: 1600px) {
    #menu .menuSlide {
        flex: 0 0 25%;
    }
}